<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- <listener>
		<listener-class>listener.LoginListener</listener-class>
	</listener> -->

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExitServlet</servlet-name>
		<servlet-class>servlet.ExitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ValidationServlet</servlet-name>
		<servlet-class>servlet.ValidationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterValidationServlet</servlet-name>
		<servlet-class>servlet.RegisterValidationServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>ModifyRepServlet</servlet-name>
    <servlet-class>servlet.ModifyRepServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepassswordServlet</servlet-name>
    <servlet-class>servlet.RepassswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdissertationServlet</servlet-name>
    <servlet-class>servlet.UpdissertationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAuthorServlet</servlet-name>
    <servlet-class>servlet.AddAuthorServlet</servlet-class>
  </servlet>


	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExitServlet</servlet-name>
		<url-pattern>/Exit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidationServlet</servlet-name>
		<url-pattern>/Validation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterValidationServlet</servlet-name>
		<url-pattern>/RegisterValidation</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyRepServlet</servlet-name>
    <url-pattern>/ModifyRep</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepassswordServlet</servlet-name>
    <url-pattern>/Repasssword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdissertationServlet</servlet-name>
    <url-pattern>/Updissertation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAuthorServlet</servlet-name>
    <url-pattern>/representor/AddAuthor</url-pattern>
  </servlet-mapping>

</web-app>